body {
			font-family: arial;
		}

h1, h2 { 
			color: orange;
			font-style: italic;
		}

ul li a {
			color: red;
		}

ol li a {
			color: green;
		}

#p1 {
			color: #ff2222;
		}

.p2 {
			color: yellow;
		}